<p id="notice"><%= notice %></p>

<p>
  <b>People:</b>
  <%= @note.people_id %>
</p>

<p>
  <b>Title:</b>
  <%= @note.title %>
</p>

<p>
  <b>Note:</b>
  <%= @note.note %>
</p>


<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
