<%= form_for(@addressinfo) do |f| %>
  <% if @addressinfo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@addressinfo.errors.count, "error") %> prohibited this addressinfo from being saved:</h2>

      <ul>
      <% @addressinfo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="hidden_field">
  	<%= f.hidden_field :people_id %>
  	<%= f.hidden_field :type_ident %>	
  </div>
  <div class="field">
    <%= f.label :type_name %><br />
    <%= f.select :type_name, options_from_collection_for_select(@address_type, :type_name, :type_name) %>
  </div>
  <div class="field">
    <%= f.label :address1 %><br />
    <%= f.text_field :address1 %>
  </div>
  <div class="field">
    <%= f.label :address2 %><br />
    <%= f.text_field :address2 %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :zip %><br />
    <%= f.text_field :zip %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
